// Colors default

$color-light:				#ffffff;
$color-dark:				#000000;

$color-text:            	#3b3b3b;
$color-anchor:				#df373d;

// Colors Logo

$color-primary:				#df373d;
$color-secondary:			#081a72;
$color-terciary: 			#3b3b3b;

// Colors State

$color-danger:				#ff5a5f;
$color-success:				#2fbf71;
$color-info:				#007bff;
$color-warning:				#ed7d3a;

// Color Tons

$color-gray-100:			#f6f6f6;
$color-gray-200:			#f2f2f2;
$color-gray-300:			#e5e5e5;
$color-gray-600:			#c1c1c1;
$color-gray-900:			#444444;

$color-blue-100:			#f7f7f9;
$color-blue-200:			#d1f5ff;
$color-blue-700:			#1b1e23;
$color-blue-800:			#0f1214;

$color-pink-100:			#f8c0c8;

$color-purple-200:			#8377d1;

$color-orange-500: 			#f47522;

// Components

$color-border-default:		#f2f2f2;
$color-button-default:		#f6f6f6;

// Social Media

$color-social-behance: 		#1769ff;
$color-social-dropbox: 		#007ee5;
$color-social-facebook:		#3b5998;
$color-social-github:  		#333333;
$color-social-google:		#dd4b39;
$color-social-instagram:	#d62976;
$color-social-lastfm: 		#d51007;
$color-social-linkedin: 	#007bb5;
$color-social-mailchimp:	#449a88;
$color-social-pinterest:	#cb2027;
$color-social-skype: 		#00acf4;
$color-social-snapchat: 	#fffc00;
$color-social-spotify: 		#2ebd59;
$color-social-telegram: 	#0088cc;
$color-social-tumblr: 		#32506d;
$color-social-twitter: 		#00aced;
$color-social-vimeo: 		#162221;
$color-social-whatsapp: 	#43d854;
$color-social-youtube: 		#bb0000;
