/** DESIGN SYSTEM */

/* VARIABLES */
@import "variables/color";
@import "variables/size";
@import "variables/font";
@import "variables/mixin";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";

/* SETUPS */
@import "setups/font";
@import "setups/animation";

/* RESET */
@import "reset";

/* UTILS */
@import "utils/background";
@import "utils/border";
@import "utils/grid";
@import "utils/text";
@import "utils/title";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/screenreaders";

/* COMPONENTS */
@import "components/alert";
@import "components/badge";
@import "components/breadcrumb";
@import "components/button";
@import "components/card";
@import "components/content";
@import "components/form";
@import "components/label";
@import "components/list";
@import "components/modal";
@import "components/navbar";
@import "components/pagination";
@import "components/popup";

/* TEMPLATES */
@import "templates/header";
@import "templates/footer";
@import "templates/sidebar";

/* PAGES */
@import "pages/index";
