// Single

.single {
	margin-bottom: 2rem;

	&-content {
		position: relative;
	}

	&-image {
		margin-bottom: 2rem;
	}

	&-title {
		margin-bottom: 2rem;
		font-size: 1.9rem;
		line-height: 1.3;
	}

	&-excerpt {
		margin-bottom: 2rem;
		font-size: 1.45rem;
		font-weight: 400;
		font-style: italic;
	}

	&-meta {
		display: flex;
		align-items: flex-end;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		padding: 1rem;
		color: $color-light;
		background: rgb(0,0,0);
		background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);

		@include media-breakpoint-up(sm) {
			padding: 1.5rem;
		}
	}

	&-category {
		margin-left: auto;
	}

	&-body {
		margin-bottom: 2rem;
		font-size: 1.15rem;
		line-height: 1.45;

		p, figure, blockquote {
			margin-bottom: 1.5rem;
		}

		h2, h3, h4, h5, h6 {
			margin-bottom: 1.5rem;
		}

		h2 {
			font-size: 1.45rem;
		}

		h3 {
			font-size: 1.35rem;
		}

		h4 {
			font-size: 1.30rem;
		}

		h5 {
			font-size: 1.25rem;
		}

		h6 {
			font-size: 1.20rem;
		}

		ul, ol {
			list-style-position: inside;
		}

		blockquote {
			padding-left: 2rem;
			border-left: 2px solid $color-primary;

			> p {
				margin-bottom: .75rem;
				font-style: italic;

				&::before, &::after {
					content: "\"";
				}
			}
		}

		iframe[src^="https://www.youtube.com/embed/"] {
    		width: 100% !important;
			height: 250px !important;

			@include media-breakpoint-up(md) {
				height: 500px !important;
			}
		}
	}

	&-share {
		margin-bottom: 2rem;
		padding: 2rem 0;
		border-top: 1px solid $color-gray-200;
		border-bottom: 1px solid $color-gray-200;

		&-list {
			display: flex;

			&-item {
				flex-grow: 1;
				margin-right: .25rem;
				list-style-type: none;

				a {
					display: block;
					width: 100%;
					height: 40px;
					color: $color-light;
					font-size: 1.25rem;
					line-height: 40px;
					text-align: center;

					i {
						transition: transform 0.3s ease;
					}

					&:hover, &:focus {
						i {
							transform: rotate(-45deg);
						}
					}
				}

				&.is-facebook {
					a {
						background: $color-social-facebook;
					}
				}

				&.is-twitter {
					a {
						background: $color-social-twitter;
					}
				}

				&.is-whatsapp {
					a {
						background: $color-social-whatsapp;
					}
				}

				&.is-pinterest {
					a {
						background: $color-social-pinterest;
					}
				}
			}
		}
	}

	&-author {
		padding: 1rem;
		background: $color-gray-100;

		&-image {
			text-align: center;

			img {
				width: 110px;
				height: 110px;
				border-radius: 100%;
				object-fit: cover;
			}

			@include media-breakpoint-up(sm) {
				width: 20%;
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: 1rem;
			}
		}

		&-content {
			padding: 0 1rem;

			@include media-breakpoint-up(sm) {
				width: 80%;
			}
		}

		&-name {
			margin-bottom: .5rem;
			font-size: 1rem;
			font-weight: 700;

			a {
				color: $color-dark;
			}
		}

		&-about {
			margin-bottom: .5rem;
		}

		&-social {
			display: flex;

			&-item {
				list-style-type: none;

				a {
					display: block;
					width: 28px;
					height: 28px;
					color: $color-light;
					font-size: .85rem;
					line-height: 28px;
					text-align: center;

					i {
						transition: transform 0.3s ease;
					}

					&:hover, &:focus {
						i {
							transform: rotate(-45deg);
						}
					}
				}

				&.is-facebook {
					a {
						background: $color-social-facebook;
					}
				}

				&.is-instagram {
					a {
						background: $color-social-instagram;
					}
				}

				&.is-linkedin {
					a {
						background: $color-social-linkedin;
					}
				}

				&.is-twitter {
					a {
						background: $color-social-twitter;
					}
				}
			}
		}

		@include media-breakpoint-up(sm) {
			display: flex;
		}
	}
}

// Page Return

.page-return {
	padding: 4rem 0;
	text-align: center;

	&-title {
		margin-bottom: 1.5rem;
		font-size: 4rem;
		text-transform: uppercase;
	}

	&-subtitle {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}
}
