// Form Search

.form-search {
	position: relative;
	width: 100%;

	&-input {
		display: block;
		width: 100%;
		height: 36px;
		padding: 0 40px 0 0;
		line-height: 36px;
		border-bottom: 1px solid $color-gray-200;
		outline: none;

		&:focus {
			border-color: $color-gray-600;
		}
	}

	&-button {
		position: absolute;
		top: 50%;
		right: 28px;
		transform: translateY(-50%);
		vertical-align: middle;
	}
}

// Contact Form 7

.wpcf7-form {
	p {
		margin-bottom: 1rem;
		font-size: 1rem;

		label {
			display: block;
			width: 100%;

			span {
				display: block;
				width: 100%;
				margin-top: .25rem;
			}

			input, textarea, select {
				display: block;
				width: 100%;
				padding: .5rem;
				border: 1px solid $color-gray-300;

				&:focus {
					border-color: $color-gray-600;
					outline: 0;
				}
			}
		}
	}

	input[type="submit"] {
		display: inline-block;
		padding: .5rem .75rem;
		color: $color-light;
		font-weight: 500;
		text-align: center;
		background-color: $color-primary;
		border: 1px solid transparent;
		outline: 0;

		&:hover, &:focus {
			background-color: darken($color-primary, 5%);
			text-decoration: none;
		}
	}
}

div.wpcf7-response-output {
	margin: 0;
	padding: 1rem;
}

// Newsletter

.tnp {
	.tnp-field {
		margin-bottom: .75rem;

		label {
			display: block;
			margin-bottom: .25rem;
			font-weight: 700;
		}
	}

	input[type="text"],
	input[type="email"] {
		display: block;
		width: 100%;
		padding: .5rem;
		background: $color-light;
		border: 1px solid $color-gray-300;

		&:focus {
			border-color: $color-gray-600;
			outline: 0;
		}
	}

	input[type="submit"] {
		display: inline-block;
		padding: .5rem .75rem;
		color: $color-light;
		font-weight: 500;
		text-align: center;
		background-color: $color-gray-900;
		border: 1px solid transparent;
		outline: 0;

		&:hover, &:focus {
			background-color: darken($color-gray-900, 5%);
			text-decoration: none;
		}
	}
}
