.popup-cookie {
	display: none;
	position: fixed;
	bottom: 1%;
	right: 1%;
	z-index: 100000000000;
	width: 98%;
	max-width: 400px;
	padding: 1rem;
	background: $color-light;
	border: 1px solid $color-gray-300;
}
